/bonus_points
/code (1).py
/code(UCU) (1).py
/code_so.py
/for students
/for students.zip
/git_tasks
/graph.csv
/lab1 (1)
/lab10
/lab11
/lab12
/lab2 (1)
/lab3 (1)
/lab4 (1)
/lab5
/lab6 (1)
/lab7 (1)
/lab8
/lab9
/linux_wh (1)
/mid_term (1).py
/mini_projects
/random_files (1)
/__pycache__ (1)